@model Eagles_Website.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "CreateOrder";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}
<style>
    .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .form-container {
        width: 400px;
    }
</style>
<h1>CreateOrder</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" required/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" required/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" disabled/>
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" disabled/>
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div><br /><br/>
            <div class="form-group">
                <input type="submit" value="Confirm Order" class="btn btn-primary border-0 bg-gradient w-100 py-2" asp-action="Pay"/>
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" asp-controller="Cart">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
