@model IEnumerable<Eagles_Website.Models.Product>

@{
    ViewData["Title"] = "ViewProducts";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}
<section id="mobile-products" class="product-store position-relative padding-large no-padding-top">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
                <h2 class="display-7 text-dark text-uppercase">Products</h2>
            </div>

            <div class="swiper product-swiper">

                <div class="swiper-wrapper">
                    @foreach (var product in Model)
                    {
                        <div class="swiper-slide">

                            <div class="product-card position-relative">
                                <div class="image-holder">
                                    <img src="~/Images/Product/@product.ImageUrl" alt="@product.Name" class="img-fluid">
                                </div>
                                <div class="cart-concern position-absolute">
                                    <div class="cart-button d-flex">
                                        <a asp-action="Details" asp-controller="Home" asp-route-id="@product.ID" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a>
                                    </div>
                                </div>
                                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                    <h3 class="card-title text-uppercase">
                                        <span class="item-price text-primary">@product.Name</span>
                                    </h3>
                                    <span class="item-price text-primary">$@product.Price</span>
                                </div>
                            </div>

                        </div>
                    }
                </div>

            </div>

        </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
</section>

